.PP {
    background-image: url("../../../public/change_pass_bg.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.PP .form-select:focus {
    box-shadow: none !important;
}

.PP .form-select {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-radius: 0;
    border-bottom: 1px solid white;
}

